.frame742545592 {
  display: flex;
  position: relative;
  box-shadow: 0 0 0px 0 rgba(0,0,0,.0);
  box-sizing: border-box;
  transition: all .3s  cubic-bezier(0.000, 1.365, 1.000, 1.650);
  align-items: flex-start;
  flex-shrink: 1;
  padding-top: 15px;
  border-color: transparent;
  padding-left: 25px;
  border-radius: 1062.5px;
  padding-right: 25px;
  padding-bottom: 15px;
  text-decoration: none;
  background-color: rgba(51, 212, 186, 1);
}
.frame742545592:hover {
  transform: scale(1.01);
  box-shadow: 0 0 0 4px rgba(0,0,0,.1);
}
.text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Rubik;
  font-weight: 400px;
  line-height: 25.499998092651367px;
  font-stretch: normal;
  text-decoration: none;
}
.root-class-name {
  margin-right: var(--dl-space-space-unit);
  background-color: #ecd511;
}
