:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #d9d9d9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #a22020;
  --dl-color-danger-500: #bf2626;
  --dl-color-danger-700: #e14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #ffffff;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003eb3;
  --dl-color-primary-500: #14a9ff;
  --dl-color-primary-700: #85dcff;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32a94c;
  --dl-color-success-700: #4cc366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-base-black2fc78: rgba(0, 0, 0, 1);
  --dl-color-base-white11219: rgba(255, 255, 255, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-grey_dark-37c490: rgba(0, 0, 0, 0.30000001192092896);
  --dl-space-space-threeunits: 48px;
  --dl-color-grey_light-26a1a6: rgba(255, 255, 255, 0.20000000298023224);
  --dl-color-grey_light-44bdea: rgba(255, 255, 255, 0.5);
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
}
.h2 {
  color: var(--dl-color-base-black2fc78);
  width: auto;
  height: auto;
  margin: 0 0 40px 0;
  font-size: 48px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: "Suisse Int'l Trial";
  font-weight: 400px;
  line-height: 54px;
  font-stretch: normal;
  text-decoration: none;
}
.container {
  width: 100%;
  display: flex;
  padding: 80px 120px;
  position: relative;
  align-self: stretch;
  box-sizing: border-box;
  align-items: flex-start;
  flex-direction: column;
}
.team-img {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  border-radius: 10px;
}

.hover1 {
  transform: translateX(10px) scale(1.08);
  transition: all 0.8s easeInOut;
}
.content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.article {
  font-size: 22px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 400px;
  font-stretch: normal;
}
.caption1medium {
  font-size: 20px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
.caption2medium {
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 500px;
  font-stretch: normal;
}
@media (max-width: 991px) {
  .container {
    padding: 60px 80px;
  }
  .team-img {
    width: 100%;
    height: auto;
  }
}
